name: caPutLog CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

env:
  SETUP_PATH: .ci

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    env:
      CMP: ${{ matrix.cmp }}
      BCFG: ${{ matrix.configuration }}
      CI_CROSS_TARGETS: ${{ matrix.cross }}
      TEST: ${{ matrix.test }}

    strategy:
      fail-fast: false
      matrix:
        # Job names also name artifacts, character limitations apply
        include:
          - os: ubuntu-latest
            cmp: gcc
            configuration: default
            name: "Ub-24 default"

          - os: ubuntu-latest
            cmp: gcc
            configuration: static
            name: "Ub-24 static"

          - os: windows-2022
            cmp: vs2022
            configuration: static
            name: "Win-22 MSC-22 static"

          - os: ubuntu-latest
            cmp: gcc
            configuration: default
            cross: "RTEMS-pc386-qemu@4.10"
            test: NO
            name: "Ub-24 gcc + RT-4.10"

          - os: ubuntu-latest
            cmp: gcc
            configuration: default
            cross: "RTEMS-pc686-qemu@5"
            name: "Ub-24 gcc + RT-5.1 pc686"

          - os: macos-latest
            cmp: clang
            configuration: default
            name: "MacOS clang"

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Prepare and compile EPICS dependencies
      run: python .ci/cue.py prepare

    - name: Build main module
      run: python .ci/cue.py build

    - name: Run main module tests
      run: python .ci/cue.py -T 20M test

    - name: Upload tapfiles Artifact
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: tapfiles ${{ matrix.name }}
        path: "**/O.*/*.tap"
        if-no-files-found: ignore

    - name: Collect and show test results
      if: ${{ always() }}
      run: python .ci/cue.py -T 5M test-results
